h3
{
    font-size: 50px !important;
    color: yellow;
    font-family: 'Permanent Marker', cursive;
}
.btn-success:hover
{
    background-color: black;
}

canvas {
    margin : 30px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite
}


@keyframes example{
    from {box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}

body{
    background-position: center;
    background-size: cover;
}


